<!-- Navbar -->
<nav>
  <ul>
    <li>
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
    </li>
    <li>
      <a href="#about" class="w3-bar-item w3-button">About</a>
    </li>
    <li>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header id="home">
  <img
    class="w3-image"
    src="https://picsum.photos/1500/800?random=45"
    alt="Architecture"
    width="1500"
    height="800"
  />
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="text-centered">
      <span class="text-title-logo text-background-silver text-logo-part-one"
        ><b>DJ</b></span
      >
      <span class="text-title-logo">LE GIN</span>
    </h1>
  </div>
</header>

<!-- Page content -->
<div>
  <!-- Project Section -->

  <!-- Projects Section -->
  <div id="projects">
    <div class="text-title-header">projects</div>
    <p>
      Throughout my musical journey, I've embarked on a diverse array of
      projects that showcase the fusion of traditional and contemporary sounds.
      From soulful blues to high-energy rock, I've wielded my guitar like a
      storyteller, weaving intricate melodies that resonate with the heart.
      Alongside, my harmonica breathes life into the music, adding layers of
      emotion and depth. In collaborative efforts, I've hammered out rhythms on
      drums and congas, infusing beats with infectious energy that gets
      audiences moving. Moreover, I've delved into the realm of electronic
      music, experimenting with synthesizers and samplers to craft immersive
      soundscapes that push the boundaries of sonic exploration. Each project
      has been a testament to my passion for innovation and my dedication to
      creating music that transcends genres and captivates the senses
    </p>
    <img
      class="w3-image"
      src="https://picsum.photos/1500/800?random=49"
      alt="Architecture"
      width="300"
      height="100"
    />
    <img
      class="w3-image"
      src="https://picsum.photos/1500/800?random=59"
      alt="Architecture"
      width="300"
      height="100"
    />
    <img
      class="w3-image"
      src="https://picsum.photos/1500/800?random=69"
      alt="Architecture"
      width="300"
      height="100"
    />
    <img
      class="w3-image"
      src="https://picsum.photos/1500/800?random=79"
      alt="Architecture"
      width="300"
      height="100"
    />
    <img
      class="w3-image"
      src="https://picsum.photos/1500/800?random=89"
      alt="Architecture"
      width="300"
      height="100"
    />
  </div>
  <!-- About Section -->
  <div id="about">
    <div class="text-title-header">about</div>
    <p>
      As a DJ, my love for all genres of music runs deep, weaving through the
      tapestry of my creative expression. From the infectious beats of
      electronic dance music to the soulful melodies of jazz, each genre holds a
      unique place in my heart and repertoire. Embracing diversity in music
      allows me to craft seamless transitions between tracks, creating an
      immersive experience that transcends boundaries and connects with
      audiences on a profound level. Whether it's the pulsating rhythm of
      hip-hop or the ethereal sounds of ambient music, I find beauty and
      inspiration in every note, blending disparate elements into harmonious
      sonic landscapes that captivate listeners and ignite the dance floor.
    </p>

    <p>
      Exploring various genres not only broadens my musical palette but also
      enriches my understanding of different cultures and artistic expressions.
      As a curator of sound, I take pride in curating sets that traverse the
      vast spectrum of human emotion, from the euphoria of uplifting trance to
      the introspective intros of indie rock. Each genre carries its own
      narrative, and through my DJ sets, I strive to weave these narratives
      together, inviting listeners on a journey of discovery and exploration.
      With an open mind and a discerning ear, I embrace the eclectic nature of
      music, celebrating its power to unite, inspire, and move us in ways that
      words alone cannot express.
    </p>
    <hr />
  </div>

  <!-- Contact Section -->
  <div id="contact">
    <h3 class="text-title-header">contact</h3>
    <p>
      Calling all music enthusiasts and concertgoers! Get ready for an
      electrifying experience like no other at my upcoming gigs! Dive into a
      world where melodies meet emotions, and rhythms ignite the soul. Join me
      for an unforgettable night filled with passion, energy, and pure musical
      magic. Whether you're a die-hard fan or simply seeking an escape from the
      mundane, my performances promise to captivate and exhilarate. So mark your
      calendars, gather your friends, and come witness the power of live music
      firsthand. Let's create memories together and make every beat count. See
      you there!
    </p>
    <form action="#" target="_blank">
      <input
        class="w3-input w3-border"
        type="text"
        placeholder="Name"
        required
        name="Name"
      />
      <input
        class="w3-input w3-section w3-border"
        type="text"
        placeholder="Email"
        required
        name="Email"
      />
      <input
        class="w3-input w3-section w3-border"
        type="text"
        placeholder="Subject"
        required
        name="Subject"
      />
      <input
        class="w3-input w3-section w3-border"
        type="text"
        placeholder="Comment"
        required
        name="Comment"
      />
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>

  <!-- Image of location/map -->
  <div class="w3-container">
    <img
      src="https://picsum.photos/1500/800?random=11"
      class="w3-image"
      style="width: 100%"
    />
  </div>

  <!-- End page content -->
</div>

<!-- Footer -->
<footer>
  <ul>
    <li>
      <a href="#" class="w3-bar-item w3-button">services</a>
    </li>
    <li>
      <a href="#" class="w3-bar-item w3-button">careers</a>
    </li>
    <li>
      <a href="#" class="w3-bar-item w3-button">legal</a>
    </li>
  </ul>
</footer>

<!--

  <p>
    <a
    href="#"
    (click)="announce('No Positions Currently Available')"
    title="W3.CSS"
    target="_blank"
    class="w3-hover-text-green"
    >work here|jobs|careers</a
    >
  </p>
-->
