body {
    font-family: 'Rock Salt', cursive;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

nav {
    background: linear-gradient(45deg, #ff7700, #ff0000);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    text-shadow: 3px 3px #ff0000;
}

.section {
    border-bottom: 2px dashed #ff0000;
    padding-bottom: 20px;
}
