.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}
nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border: 1px solid #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}
footer ul li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
a {
  font-family: "Courier New", Courier, monospace;
}
.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-title-logo {
  font-size: 1.5em;
  padding: 4px 4px 4px 4px;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  border: 1px solid #000;
}
.text-background-silver {
  background-color: silver;
}
.text-logo-part-one {
  border-right: 4px solid #000;
}
.text-logo-part-two {
}
.text-title-header {
  margin-top: 64px;
  font-size: 1.6em;
  padding: 4px 4px 4px 4px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  background-color: white;
  border-left: 1px solid #000;
}
